name: Update Versions.json

on:
    release:
        types: [published]

jobs:
    update_versions:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
            - name: Get version from manifest
              id: get_version
              run: |
                  VERSION=$(jq -r '.package_version' manifest.json)
                  echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
            - name: create release zip
              run: |
                  zip ffxii-tracker-${{ steps.get_version.outputs.VERSION }}.zip -r . -x "*.git*" "*.vscode*" "*.zip" "screenshot*" "mapping_generator/*"
            - name: Get hash
              id: get_hash
              run: |
                  HASH=$(sha256sum ffxii-tracker-${{ steps.get_version.outputs.VERSION }}.zip | awk '{print $1}')
                  echo "HASH=$HASH" >> $GITHUB_OUTPUT
            - name: Upload release asset
              id: upload_release_asset
              uses: softprops/action-gh-release@v2
              with:
                  files: ffxii-tracker-${{ steps.get_version.outputs.VERSION }}.zip
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Get asset download URL
              id: get_asset_url
              run: |
                  ASSET_URL=$(jq '.[0].downloadUrl' ${{ steps.upload_release_asset.outputs.assets }})
                  echo "ASSET_URL=$ASSET_URL" >> $GITHUB_OUTPUT
            - name: Update versions.json
              run: |
                  VERSION=${{ steps.get_version.outputs.VERSION }}
                  HASH=${{ steps.get_hash.outputs.HASH }}
                  URL=${{ steps.get_asset_url.outputs.ASSET_URL }}
                  jq --arg ver "$VERSION" --arg hash "$HASH" --arg url "$URL" \
                     '.versions |= [{"package_version": $ver, "sha256": $hash, "download_url": $url, "changelog": []}] + .' \
                     versions.json > versions.tmp.json
                  mv versions.tmp.json versions.json
            - name: Commit and push changes
              uses: stefanzweifel/git-auto-commit-action@v7
              with:
                  commit_message: "Update versions.json for release ${{ steps.get_version.outputs.VERSION }}"
                  branch: main
